body{
    background-color: beige;
}
header{
line-height: 20px;
padding-block-start: 25spx;
outline-style:solid;
}

table{
    border-style: solid;
}

td{
    border-style: solid;
    color:brown;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    padding: 10px;
      }


